/***********
    Media Queries
***********/

/***********
    Desktop
***********/
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1028px;
  }
}

/***********
    Tablet & Small Laptop
***********/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  /* Header */
  .header__container {
    flex-direction: column;
  }
  .header__column--left {
    flex-direction: column;
    align-items: center;
  }
  .header-content--left {
    align-items: center;

    & p {
      text-align: center;
      max-width: 320px;
    }
  }

  .header__column--right {
    align-items: center;
    text-align: center;
  }
}
